*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

#commandPanel{
	position: absolute;
	left: 75%;
	width: 25%;
	height: 100%;
	background-color: #444444;
	overflow: auto;
}

.section{
	font-family: arial;
	color: #FFFFFF;
	cursor:pointer;
}

.title{
	width: 100%;
	padding: 10px 15px;
	background-color: white;
	border-radius: 4px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #979e8d), color-stop(1, #4f544b));
	background:-moz-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:-webkit-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:-o-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:-ms-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:linear-gradient(to bottom, #979e8d 5%, #4f544b 100%);
	border-right: 5px solid #d0451b;
	border-left:1px solid #979797;
	cursor: pointer;
}
.title:hover{
	width: 100%;
	padding: 10px 15px;
	background-color: white;
	border-radius: 4px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #9A300F));
	background:-moz-linear-gradient(top, #d0451b 5%, #9A300F 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #9A300F 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #9A300F 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #9A300F 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #9A300F 100%);
	border-right: 5px solid #FF0000;
}

.title2{
	width: 100%;
	height: 10%;
	padding: 9px 9px;
	font-size: 33px;
	text-align: center;
	font-family: impac;
	border-radius: 0px 0px 10px 10px;
	text-shadow: 0px 1px 20px black;
	color: #979e8d;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #979e8d), color-stop(1, #4f544b));
	background:-moz-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:-webkit-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:-o-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:-ms-linear-gradient(top, #979e8d 5%, #4f544b 100%);
	background:linear-gradient(to bottom, #979e8d 5%, #4f544b 100%);
	border-right: 1px solid #979797;
	border-left:  1px solid #979797;
	border-top: 5px solid #d0451b;
}

.stitle{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #c72808));
	background:-moz-linear-gradient(top, #d0451b 5%, #c72808 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #c72808 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #c72808 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #c72808 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #c72808 100%);
	border:1px solid #979e8d;
	border-bottom: 1px solid #d0451b;
	cursor: pointer;

}
.actnBtn, .act, .act2, .object{
	color: #6B6F66;
	background-color: #ffffff;
	border-right:1px solid #979e8d;
	border-left:1px solid #979797;
	padding: 5px 0 5px 10%;
}

.actnBtn:hover,.act:hover,.act2:hover{
	color: #d0451b;
}

.sContent{
	display: none;
	padding: 10px;
}

.stitle{
	padding: 5px 0 5px 5%;
	background-color: #ededed;
}
.actnBtn::before,.act::before,.act2::before{
	color: #d0451b;
	content: "» ";
};

